################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
x64/
Debug/
/13_网络/01_查询IP/Release
/13_网络/Release
/13_网络/02_计算路由次数/Release
